<ion-modal-view>
  <ion-content style="background:#222">
    <!-- <div style="color: #ccc;float: right;padding: 10px 16px 0px 0px;font-size: small;letter-spacing: 2px;">立即注册</div> -->
    <div class="row">
      <div class="col">
        <div class="form_pad">
          <ul>
            <li>
              <img src="img/icoUserName.png" />
              <input type="text" placeholder="请输入用户名" name="user" ng-model="loginData.username"/>
            </li>
            <li>
              <img src="img/icoPsw.png" />
              <input type="password" placeholder="请输密码" name="password" ng-model="loginData.password" required/>
            </li>
<!--             <li>
              <img src="img/icoWeChat.png" />
              <input type="password" placeholder="绑定微信" ng-model="loginData.wechat"/>
              <label class="toggle toggle-assertive" style="position:absolute;right:1rem;bottom:0.54rem">
              <input type="checkbox" ng-model="loginData.toggle"/>
              <div class="track">
                <div class="handle"></div>
              </div>
              </label>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col"> <a class="submit" ng-click="login()" >登录</a> </div>
    </div>
  </ion-content>
</ion-modal-view>
