<ion-view hide-nav-bar="true">
  <ion-content style="background:#262626">
    <div class="row" style="background:#000">
      <div class="col" style="padding:0.9rem;">
        <dl class="orderPad">
          <dd class="face"><img src="img/demo1.png" /></dd>
          <dd>
            <p class="tit">{{data.title}}</p>
            <p>规格：{{data.specification}}</p>
            <p>价格：{{data.price}}/箱</p>
          </dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="orderUla">
          <li>
            <div class="list">
              <label class="item item-input item-select" style="border:none;background:#000;padding:0.6rem 0.6rem 0.6rem 0.8rem">
              <div class="input-label" style="color: #fff;font-size:0.8rem">预购数量</div>
              <select style="background:none;color:#999" ng-model="selected" ng-options="item for item in numbers">
              </select>
              </label>
            </div>
          </li>
          <li>
            <div class="list">
              <label class="item item-input item-select" style="border:none;background:#000;padding:0.6rem 0.6rem 0.6rem 0.8rem">
                  <div class="input-label" style="color: #fff;font-size:0.8rem">预支付折扣</div>
                  <select style="background:none;color:#999" ng-model="discount" ng-options="item for item in discounts">
                  </select>
              </label>
            </div>
          </li>
          <li class="adress">
            <p class="adrTit">收货地址</p>
            <dl class="adrDet">
              <div style="word-break:break-all;">{{address}}</div>
              <dd></dd>
            </dl>
            <a class="adAdr" sharaddress>新增收货地址</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
	    <div class="col">
		    <a class="pay" payment>共支付{{(selected | goldNumber)*data.price}}元，立即去支付</a>
	    </div>
    </div>

    <!-- <div class="row" ng-if="discount=='不预支付、无折扣'">
      <div class="col">
        <a class="pay" payment>生成订单</a>
      </div>
    </div> -->
    
  </ion-content>
</ion-view>