<ion-modal-view>
<ion-view hide-nav-bar="true">
  <ion-content style="background:#fdfaf4">
    <div class="row" style="padding:1.4rem 0 1rem 0">
	    <div class="col" style="padding:0">
		    <img style="max-width: 100%" src="img/introLogo.png" />
	    </div>
    </div>
    <div class="row" style="padding:1rem 0">
	    <div class="col" style="padding:0">
		    <a href="#" class="introAa"><img style="max-width: 100%" src="img/introa.png" /></a>
	    </div>
    </div>
    
    <!--<div class="introBot">
	    <div class="row" style="padding:2rem 0 1rem 0">
	    <div class="col" style="padding:0">
		    <a href="#" class="introAb">立即预购老佛爷-普通版</a>
	    </div>
    </div>
    <div class="row" style="padding:0 0 1rem 0">
	    <div class="col" style="padding:0">
		    <a href="#" class="introAc">进入平台</a>
	    </div>
    </div>
    </div>-->
    
    <div class="introBot">
	    <div class="row" style="padding:2rem 0 1rem 0">
	    <div class="col" style="padding:0">
		    <a ng-click="debarkation()" class="introAb">登录</a>
	    </div>
    </div>
    <div class="row" style="padding:0 0 2rem 0">
	    <div class="col" style="padding:0">
		    <a ng-click="enroll()" class="introAb">注册</a>
	    </div>
    </div>
    </div>
  </ion-content>
</ion-view>
</ion-modal-view>